h1 {
    text-align: center;
}

body {
   background-color: #EF2D56;
}

main {
    background-color: #DCED31;
    padding: 19px;
}

#mainDiv {
    background-color: #0CCE6B;
    padding: 10px;
}

#display {
    background-color: #1BE7FF;
    padding: 5px;
}

#historyDiv {
    background-color: #ED7D3A;
    /* txt size adjustment up */
    padding-top: 15px;
}

